.container {
  display: flex;
  flex-direction: column;
  padding: 80px 19vw;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  user-select: none;
}
.image {
  border: 0px solid #ddd;
  width: 19vw !important;
  height: 19vw !important;
  box-sizing: border-box;
  margin-bottom: 2vw;
  cursor: pointer;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  padding: 0 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.image .overlay {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: none;
  color: white;
  font-size: 18px;
}
.image .overlay i {
  margin-left: 7px;
  font-size: 22px;
}
.image:hover .overlay {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal img {
  min-height: 70vh;
  max-height: 70vh;
  max-width: 80vw;
}

















/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 80px 10vw;
  }
  .image {
    width: 25vw !important;
    height: 25vw !important;
    margin-bottom: 3vw;
  }

  .modal img {
    min-height: 0px;
    max-width: 100vw;
    min-width: 90vw;
  }
}
