<div class="container">
  <div class="navbar" [class.colorDark]="!showDark">
    <a href="/" class="brand">
      <img src="/assets/logotrans.png" alt="">
    </a>
    <div class="spacer"></div>
    <div class="menu" *ngIf="showMenu">
      <div routerLink="/" class="nav">Home</div>
      <div routerLink="/videos" class="nav">Videos</div>
      <div routerLink="/fun" class="nav">Buzz</div>
    </div>
    <div (click)="toggleMenu()" class="menubutton">
      <i [class.hide]="showMenu" class="fa fa-bars" aria-hidden="true"></i>
      <i [class.hide]="!showMenu" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="menubutton" (click)="modal()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <span>SIGN IN / SIGN UP</span>
      <span>User Name</span>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="modal" [class.display]="showModal">
    <div class="close">
      <div class="spacer"></div>
      <i class="fa fa-times" aria-hidden="true" (click)="hide()"></i>
    </div>
    <div class="modcon">
      <div class="page">
        <h2>Welcome to Whoorah!</h2>
        <h2>Experience a personalised whoorah experience.</h2>
        <div class="social fbi">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <span>Connect with Facebook</span>
        </div>
        <div class="social ggl">
          <i class="fa fa-google" aria-hidden="true"></i>
          <span>Connect with Google</span>
        </div>
        <h1 class="Indie">Or</h1>
        <div class="email" *ngIf="!showPass">
          <h4>Enter your email address</h4>
          <input type="text" placeholder="eg: axb@aaa.aa" spellcheck="false">
          <button (click)="verifyEmail()">Continue with email</button>
        </div>
        <div class="passs" *ngIf="showPass">
          <h4>Confirm your password</h4>
          <input type="password" placeholder="Just to check it's you" spellcheck="false">
          <button>Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
